
nav {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 50px;
}

.nav-item {
    color: #4C636C;
}

#topButton {
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #4C636C;
    display: none;
    color: white;
}

#role {
   padding: 70px;
}
/*KTs sec 5/6 */
 body {
     font-family: 'Poppins', sans-serif;
     position: relative;
 }

h1 {
    font-weight: 600;
    text-align: center;
    color: #4C636C;
    font-size: 3.09vh;
    margin: 0 auto;
}

.centerText {
    color: #4C636C;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}
div.header {
    background-color: #EFEBD8;
    background-position: center;
    background-size: cover;
}
div.plotChart {
    background-color: #EFEBD8;
    width: auto;
    height: fit-content;
}

div.plotImage {
    display: flex;
}

img.plotImage {
    margin: auto;
    align-content: center;
    height: auto;
    width:  790px;
    padding-top: 25px;
    padding-bottom: 30px;
}

div.flow {
    display: flex;
}
div.dashedRight {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px dashed lightgrey;
}

img.flow {
    margin: auto;
    align-content: center;
    height: auto;
    width: 80%;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    border-top: 1px dashed;
    opacity: 0.2;
}

.flow {
    padding: 15px;
}
/* Sectiion 09/10*/



#mockup {
    margin: 2.2rem;
    max-width: 95%;
    }

#role {
    color: #4C636C;
}



@media screen and (max-width: 376px) {
    #mockup {
        padding: 0px; 
    }
    #role {
        text-align: center;
    }
}   

/* Sectiion 11/12 */
.feedBack {
    padding: 20px 50px;
    /* background-color: #EFEBD8; */
}

h6 {
    font-weight: bold;
    color: #4C636C;
}

h4 {
    text-align: center;
    color: #4C636C;
}

div.divider {
    margin-bottom: 50px;
}

p {
    font-family: 'Poppins', sans-serif;
    size: 25px;
    color: #4C636C;
}

li {
    font-family: 'Poppins', sans-serif;
    color: #4C636C;
    font-size: 12px;
}